* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* baggrundsfarve */
body {
  background-color: var(--white);
}

.box_orange {
  background-color: var(--orange);
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-top: 3rem;
}

.box_blue {
  background-color: var(--blue);
  padding-top: 2rem;
  padding-bottom: 4rem;
}
footer {
  margin-top: 3rem;
}

/* Billeder css */
.forside_img {
  width: 100%;
}

/* Illustrationer */

.bg_vin {
  background-image: url("../billeder/vinflaske_blue.svg");
  background-repeat: no-repeat;
  background-position: top 250px right;
  background-size: 25%;
}

.bg_bestik {
  background-image: url("../billeder/bestik.svg");
  background-repeat: no-repeat;
  background-position: top 400px right 40px;
  background-size: 15%;
}

.bg_kaffe {
  background-image: url("../billeder/kaffeboenner.svg");
  background-repeat: no-repeat;
  background-position: top 400px left 40px;
  background-size: 12%;
}
.bg_vinglas {
  background-image: url("../billeder/vinglas.svg");
  background-repeat: no-repeat;
  background-position: top 100px left;
  background-size: 12%;
}
.bg_lys {
  background-image: url("../billeder/lys_hvid.svg");
  background-repeat: no-repeat;
  background-position: bottom right 20px;
  background-size: 12%;
}
.bg_noder {
  background-image: url("../billeder/noder.svg");
  background-repeat: no-repeat;
  background-position: top 290px right 20px;
  background-size: 20%;
}

/* Billede i menu, events og om os skal være mindre */
.billede {
  display: block;
  margin: auto;
  align-self: stretch;
  width: 100%; /* Får billederne til at fylde hver firkant */
  height: 100%; /* Får billederne til at fylde hver firkant */
  object-fit: cover; /* Sørger for, at billederne ikke strækkes */
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

/* Lottie css */
/* Hvorfor overlapper teksten under? */
.container {
  display: grid;
  place-items: center;
  max-width: 100%;
}

/* Så teksten under lottie og billede ikke overlapper */
.wrapper {
  display: block;
  overflow: hidden; /* Prevents text from spilling into the animation container */
}

/* Baggrundsbilledet på forside(med lottie) */
.forside_img {
  grid-area: 1 / 1; /* Place image in the same grid cell */
  width: 100%;
  height: auto;
}

/* Lottie filen */
.lottie {
  grid-area: 1 / 1; /* Place animation in the same grid cell */
  width: 100%; /* Adjust size as needed */
  z-index: 1; /* Ensure it appears above the image */
}

/* Størrelsen på billederne i mobil */
.size_mobil {
  max-width: 60%;
}

/* Tekst */
h1,
p,
h2 {
  text-align: center;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 2rem;
  color: var(--blue);
}

h2 {
  color: var(--blue);
}

.white_tekst {
  color: var(--white);
}
.red_tekst {
  color: var(--red);
}

p {
  margin-right: 2rem;
  margin-left: 2rem;
  line-height: 2.5rem;
}

.grid_1-1 {
  justify-items: center; /* Center horizontally within each cell */
}

@media (min-width: 800px) {
  /* grid */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
