* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* Fjerner standard link-underlines */
}

/* main */

body {
  background-color: var(--white);
}

h1 {
  padding-top: 2rem;
  color: var(--blue);
}

p {
  color: var(--blue);
}

.follow {
  margin-bottom: -1rem;
}

.timegrid_1-1 {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.dage {
  margin-left: 3rem;
}

.tider {
  margin-right: 3rem;
}

.contact {
  padding: 5px;
}

.contact a {
  display: inline-block;
}

.facebook,
.instagram {
  color: var(--white);
  font-family: "McLaren", sans-serif;
  border: 10px solid var(--blue);
  background-color: var(--blue);
  border-radius: 2rem;
}

.facebook {
  margin-left: 12.3rem;
}

.instagram {
  margin-left: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact .facebook:hover,
.contact .instagram:hover {
  text-decoration: underline;
}

/* form tag */
.form {
  font-family: "McLaren", sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}

/* styling af formens tekstpunkter */
label {
  font-family: "Permanent Marker", cursive;
  color: var(--blue);
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "McLaren", sans-serif;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--blue);
  color: white;
  font-family: "McLaren", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* footer */
.grid_1-1 {
  justify-items: center;
}

.box_blue {
  background-color: var(--blue);
  padding-top: 2rem;
  padding-bottom: 4rem;
}
footer {
  margin-top: 3rem;
}

/* Billede i menu, events og om os skal være mindre */
.billede {
  display: block;
  margin: auto;
  align-self: stretch;
  width: 100%; /* Får billederne til at fylde hver firkant */
  height: 100%; /* Får billederne til at fylde hver firkant */
  object-fit: cover; /* Sørger for, at billederne ikke strækkes */
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

h1,
p,
h2 {
  text-align: center;
  padding-bottom: 2rem;
}

p {
  margin-right: 2rem;
  margin-left: 2rem;
  line-height: 2.5rem;
}

.white_tekst {
  color: var(--white);
}

/* underlines og outlines */
.blue_outline {
  background-image: url("../billeder/blue_outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11rem;
}

.white_line2 {
  background-image: url("/billeder/white_line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9rem;
}
