* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* fjerner standard link-underlines på alle links der skulle være */
}

body {
  background-color: var(--white);
}

/* menu */

.menugrid_1-1 {
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
}

.mad {
  position: relative;
  background-image: url(/billeder/urmenu.png);
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center 150px;
  padding: 1rem;
}

.mad h1,
.mad p {
  position: relative;
  z-index: 1;
}

.mad h1,
.drikke h1 {
  color: var(--blue);
}

.mad p,
.drikke p {
  color: var(--brown);
}

.drikkegrid_1-1 {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.drikke {
  margin-top: 10rem;
}

/* underlines og outlines */
.white_line2 {
  background-image: url("/billeder/white_line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9rem;
}

.blue_line {
  background-image: url("../billeder/blue_line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8rem;
}

/* footer */
footer {
  margin-top: 6rem;
}

.grid_1-1 {
  justify-items: center;
}

.box_blue {
  background-color: var(--blue);
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.billede {
  display: block;
  margin: auto;
  align-self: stretch;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

h1,
p,
h2 {
  text-align: center;
  padding-bottom: 2rem;
}

p {
  margin-right: 2rem;
  margin-left: 2rem;
  line-height: 2.5rem;
}

.white_tekst {
  color: var(--white);
}

@media (min-width: 800px) {
  /* grid */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Tekst */
  p {
    margin-right: 6rem;
    margin-left: 6rem;
    line-height: 4rem;
    font-size: 1.3rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }

  /* Outline og underline */

  .blue_outline {
    background-position: center top 30px;
    background-size: 14rem;
  }
  .white_line2 {
    background-position: center bottom 28px;
    background-size: 12rem;
  }
}
