/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "McLaren", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white);
  color: var(--blue);
  text-align: center;
}

.container {
  background-image: url(../billeder/lys_hvid.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: left 100px;
}

.afsnit-image {
  width: 175px;
  height: auto;
  padding-top: 40px;
  margin-bottom: 50px;
}

.rød-linje {
  /* border: none; */
  /* background-color: var(--red); */
  margin-bottom: 65px;
  margin-left: 0px;
  width: 260px;
}

/* text-section - teksten om os, både øverst og nederst */
.text-section1,
.text-section2 p {
  /* font-size: 1rem; */
  color: var(--blue);
  line-height: 1.9;
  margin: 70px;
  margin-top: -18px;
}

.text-section1 {
  background-image: url(../billeder/kaffeboenner.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 30px;
}

.text-section2 {
  background-image: url(../billeder/baguette.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 70px;
}

/* baggrund Section fra html */
.baggrund-section {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  position: relative;
  background-image: url(../billeder/vinglas.svg);
  background-repeat: inherit;
  background-size: 50px;
}

/* bokse i baggrunden */
.background {
  width: 190px;
  height: 190px;
  border-radius: 40px;
  display: flex;
}

.blue {
  background-color: var(--blue);
  transform: rotate(-15deg);
  z-index: 1;
}

.orange {
  background-color: var(--orange);
  transform: rotate(15deg);
  z-index: 2;
}

/* billeder af Moshe */
.billede-section {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  position: relative;
}

.billede1,
.billede2 {
  position: relative;
  width: 150px;
  height: 190px;
  border-radius: 30px;
  margin-bottom: 130px;
  gap: 1px;
}

.billede1 {
  z-index: 1;
  top: -190px;
  left: -16px;
  transform: rotate(-2deg);
}

.billede2 {
  z-index: 2;
  top: -190px;
  left: 16px;
  transform: rotate(2deg);
}

/* navnet MOSHE i rød over billederne */
.moshe {
  position: relative;
  color: var(--red);
  font-size: 15px;
  margin-top: -460px;
  z-index: 3;
  margin-bottom: 140px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 0px var(--white);
}

/* rødt banner med pil og tekst, overgang til scrollbar */
.rødt_banner {
  background-color: var(--red);
  color: var(--white);
  padding-inline: 105px;
  padding-top: 45px;
  position: relative;
  margin-top: -15px;
  margin-bottom: 5px;
}

.rødt_banner p {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pil {
  width: 50px;
  height: auto;
  padding-bottom: 15px;
  padding-top: 10px;
}

/* teksten over pilen i rødt banner */
.billedertekst {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.billedertekst span {
  margin-left: 20px;
}

.scrollbar {
  white-space: nowrap;
  overflow-x: auto;
}

.scroll-billeder img {
  width: 200px;
  height: 280px;
  margin-right: 0px;
  border-radius: 20px;
  border: 2px solid var(--white);
}

/* footer */
.box_blue {
  background-color: var(--blue);
  padding-top: 2rem;
  padding-bottom: 4rem;
}
footer {
  margin-top: 3rem;
}
a {
  text-decoration: none;
}
h2 {
  color: var(--blue);
}

.white_tekst {
  color: var(--white);
}

.white_line2 {
  background-image: url("../billeder/white_line.svg");
  background-repeat: no-repeat;
  background-position: center bottom 30px;
  background-size: 9rem;
}

h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.billede {
  display: block;
  margin: auto;
  align-self: stretch;
  width: 100%; /* Får billederne til at fylde hver firkant */
  height: 100%; /* Får billederne til at fylde hver firkant */
  object-fit: cover; /* Sørger for, at billederne ikke strækkes */
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

.foot {
  margin-right: 4rem;
  margin-left: 4rem;
  line-height: 2.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

/* ------------------------------------------------------------------------------------------------------- */

@media (min-width: 800px) {
  .afsnit-image {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .rød-linje {
    margin: 0;
    width: 450px;
    margin-bottom: 65px;
    margin-top: 20px;
  }

  /* text-section - teksten om os, både øverst og nederst */
  .text-section1,
  .text-section2 p {
    font-size: 1rem;
    color: var(--blue);
    line-height: 1.9;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 35px;
    font-size: 18px;
    margin-top: 10px;
  }

  .background {
    width: 220px;
    height: 220px;
    border-radius: 40px;
    display: flex;
  }

  .billede1 {
    z-index: 1;
    top: -223px;
    left: -27px;
    transform: rotate(-6deg);
    width: 170px;
    height: auto;
  }

  .billede2 {
    z-index: 2;
    top: -223px;
    left: 27px;
    transform: rotate(6deg);
    height: auto;
    width: 170px;
  }

  .billedertekst span {
    margin-left: 50px;
  }
  .billedertekst {
    font-size: 25px;
  }

  .moshe {
    margin-top: -520px;
    margin-bottom: 140px;
    font-size: 16px;
  }

  .scrollbar {
    white-space: nowrap;
    overflow-x: auto;
  }

  .scroll-billeder img {
    width: 220px;
    height: 290px;
    margin-right: 0px;
    border-radius: 20px;
    border: 2px solid var(--blue);
  }

  /* footer */
  h2 {
    font-size: 2.2rem;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .white_line2 {
    background-position: center bottom 28px;
    background-size: 12rem;
  }
  .foot {
    margin-right: 6rem;
    margin-left: 6rem;
    line-height: 4rem;
    font-size: 1.3rem;
  }

  /* de små billeder på siden: */

  .container {
    background-image: url(../billeder/lys_hvid.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left 200px top;
  }

  .text-section1 {
    background-image: url(../billeder/kaffeboenner.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 70px;
  }

  .text-section2 {
    background-image: url(../billeder/baguette.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 150px;
  }

  .baggrund-section {
    background-image: url(../billeder/vinglas.svg);
    background-repeat: inherit;
    background-size: 145px;
  }
}
