/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--white);
  color: var(--blue);
  text-align: center;
}

.afsnit-image {
  width: 160px;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

/* text-section - teksten om os, både øverst og nederst */
.text-section1, .text-section2 p {
  font-size: 1.1rem;
  color: var(--blue);
  line-height: 1.9;
  margin: 20px;
}

/* Image Section */
.image-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
  position: relative;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* bokse i baggrunden */
.background {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 40px;
}

.blue {
  background-color: var(--blue);
  top: 10px;
  left: 32px;
  rotate: -15deg;
  z-index: 1;
}

.orange {
  background-color: var(--orange);
  top: 10px;
  left: -75px;
  rotate: 15deg;
  z-index: 1;
}

/* billeder af Moshe */
.image-wrapper img {
  width: 100px;
  height: auto;
  border-radius: 15px;
  z-index: 2;
}



.image-wrapper p {
  color: var(--red);
  padding: 5px 1px;
  font-weight: bold;
  font-size: 25px;
  margin-top: -80px;
  padding-left: 124px;
  z-index: 3;
  font-family: "Permanent Marker", cursive;
}

/* rødt banner med pil og tekst, overgang til scrollbar */
.rødt_banner {
  background-color: var(--red);
  color: var(--white);
  padding-inline: 105px;
  padding-top: 40px;
  position: relative;
}

.rødt_banner p {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pil {
  width: 50px;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* scrollbar afdeling: */
.scrollbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.scrollbar img {
  width: 220px;
  height: auto;
  border: 2px solid #ffffff;
}

  
  
  